<template>
  <div>
    <div class="text-center">
      <div class="title mb-1" v-if="!Object.keys(list).length">
        {{ $t('images_empty') }}
      </div>

      <div class="images">
        <div v-for="image in list" class="card mb-4">
           {{ list.length }}
          <span class="text-left text-uppercase image-title">{{ image.title }}</span>
          <img :src="image.s3" class="img-fluid mb-1" :alt="image.title">
          Likes: {{ image.likes_count }}
          <button v-if="authenticated" v-on:click="toggleLike(image.id)" class="btn btn-danger">Toggle Like</button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: mapGetters({
    authenticated: 'auth/check',
    list: 'image/list'
  }),

  mounted () {
    this.$store.dispatch('image/fetchImages')
  },

  methods: {
    toggleLike(imageId) {
      this.$store.dispatch('image/fetchImage', imageId)
    }
  }
}
</script>

<style scoped>
.title {
  font-size: 25px;
}
.image-title {
  font-size: 18px;
  padding: 0.5rem 1rem;
}
</style>
