<template>
  <div>
    <div class="top-right links">
      <template v-if="!authenticated">
        <router-link :to="{ name: 'login' }">
          {{ $t('login') }}
        </router-link>
        <router-link :to="{ name: 'register' }">
          {{ $t('register') }}
        </router-link>
      </template>
    </div>

    <div class="text-center">
      <div class="title mb-1">
        {{ $t('upload_title') }}
      </div>

      <div class="container">
        <div class="form-group">
          <input
                  type="file"
                  class="form-control-file"
                  id="file_input"
                  ref="file"
                  accept="image/x-png,image/gif,image/jpeg"
                  v-on:change="handleFileUpload()">
        </div>
        <div class="card mb-1" v-if="file">
          <img :src="imagePreview" class="img-fluid">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="title_input" :placeholder="$t('title_input_label')" v-model="title">
          <small class="form-text text-muted">{{ $t('is_required') }}</small>
        </div>
        <button :disabled="title.length < 3 || !file"
                :class="{ 'disabled': title.length < 3 || !file}"
                v-on:click="submitForm()" type="button" class="btn btn-primary">
          {{ $t('submit') }}
        </button>
      </div>

    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',

  data() {
    return {
      file: '',
      title: '',
      busy: false,
      imagePreview: ''
    }
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  }),

  methods: {
    handleFileUpload(){
      this.file = this.$refs.file.files[0];

      let reader  = new FileReader();

      reader.addEventListener("load", function () {
        this.showPreview = true;
        this.imagePreview = reader.result;
      }.bind(this), false);

      if( this.file ){
        if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
          reader.readAsDataURL( this.file );
        }
      }
    },
    submitForm() {
      this.busy = true;
      let formData = new FormData();
      formData.append('file', this.file);
      formData.append('title', this.title);

      axios.post( '/api/image',
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then((response) => {
        this.$router.push({ name: 'image.list' })
      })
        .catch((e) => {
          this.busy = false;
        });
    }
  }
}
</script>

<style scoped>
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.title {
  font-size: 25px;
}
</style>
